[submodule "Service"]
	path = Service
	url = git@github.com:Forge-Panel/Fitness-Service.git
[submodule "Widgets"]
	path = Widgets
	url = git@github.com:Forge-Panel/Fitness-Widgets.git
[submodule "App"]
	path = App
	url = git@github.com:Forge-Panel/Fitness-App.git
[submodule "Admin-Panel"]
	path = Admin-Panel
	url = git@github.com:Forge-Panel/Fitness-Admin-Panel.git
